/* custom variable */

:root {
    /* fonts */
    --normal-font: Helvetica, Arial, sans-serif;
    --code-font: monospace, 'Courier New', Courier;
    --motto-font: "Motto";
    /* colors */
    --white-color: #ffffff;
    --black-color: #1c1d22;
    --metal-blue-color: #0000EE;
    --light-blue-color: #58A6FF;
    --gray-color: #777777;
    --light-gray-color: #f0f0f0;
}

/* ------- basic syling ------- */

html {
    color: var(--black-color);
}

body {
    background-color: var(--white-color);
}

.container {
    max-width: "500px";
    padding: 0.5em;
}

#main {
    margin-top: 1em;
    margin-bottom: 2em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5, h6 {
    font-size: 1em;
}

blockquote {
    color: var(--gray-color);
    border-left: 4px solid var(--gray-color);
    background: var(--light-gray-color);
    padding: 10px;
    margin: 10px;
    padding-left: 25px;
    font-size: 15.675px;
    font-weight: 400;
}

/* ------- basic syling end ------- */

/* ------- site ------- */

.site-header {
    color: var(--black-color);
    border-bottom: 2px solid var(--light-gray-color);
}

.site-header a {
    text-decoration: none;
    color: inherit;
}

.site-header a:hover {
    color: var(--light-blue-color);
}

.site-footer {
    color: var(--gray-color);
    border-top: 2px solid var(--light-gray-color);
    font-size: 15px;
    margin-top: 3;
    padding-top: 0.5em;
    padding-bottom: 4em;
    text-align: center;
}

.site-footer a {
    color: inherit;
}

.site-footer a:hover {
    color: var(--light-blue-color);
}

/* ------- site end ------- */

/* ------- post-meta ------- */

.post-meta {
    font-family: 'Open Sans';
    font-size: 14.4375px;
    color: var(--gray-color);
}

.post-meta a.post-tag {
    border-radius: 5px;
    border: 1px solid var(--gray-color);
    text-decoration: none;
    padding: 1px 5px;
    margin-left: 5px;
}

.post-meta a.post-tag:hover {
    border: 1px solid var(--light-blue-color);
    text-decoration: none;
}

.post-link {
    color: var(--black-color);
    text-decoration: none;
    display: block;
}

.post-link:hover {
    color: var(--light-blue-color);
    text-decoration: none;
    cursor: pointer;
}

/* ------- post-meta end ------- */

/* ------- post ------- */

.post-header {
    margin-top: 60px;
    margin-bottom: 10px;
}

/* ------- post end ------- */

/* ------- image ------- */

.center-image {
    width: 1em;
    height: 1em;
}

img {
    max-width: 100%;
}

figure {
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    color: var(--gray-color);
    margin: 1em;
    padding: 1em;
}

.circle-image {
    border-radius: 50%;
}

/* ------- image end ------- */

/* ------- markdown formatting ------- */

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

/* ------- markdown formatting end ------- */