/* custom variable */

:root {
    /* fonts */
    --normal-font: Helvetica, Arial, sans-serif;
    --code-font: monospace, 'Courier New', Courier;
    --motto-font: "Motto";
    /* colors */
    --light-color: #ffffff;
    --dark-color: #1c1d22;
    /* high contrast color */
    --neutral-dark-color: #585656;
    --neutral-light-color: #afacac;
    /* highlight: cool */
    --highlight-cool-color: #1c7ff2;
    /* highlight: warm */
    --highlight-warm-color: #ff7d00;
    /* highlight: code */
    --highlight-code-color: #321F2A;
}

/* ------- basic styling ------- */

html {
    color: var(--dark-color);
}

body {
    background-color: var(--light-color);
}

.container {
    max-width: 700px;
    padding: 1rem;
}

#main {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

h3, h4, h5 {
    font-size: 1.3rem;
    font-weight: bold;
}

h6 {
    font-size: 1rem;
    color: var(--neutral-dark-color);
    font-weight: bold;
    font-style: oblique;
}

blockquote {
    color: var(--neutral-dark-color);
    border-left: 4px solid var(--neutral-dark-color);
    background: var(--neutral-light-color);
    padding: 10px;
    margin: 10px;
    padding-left: 25px;
    font-size: 15.675px;
    font-weight: 400;
}

a, a:hover {
    border-bottom: 2px solid var(--highlight-cool-color);
    text-decoration: none;
}

a {
    color: var(--dark-color);
}

a:hover {
    color: var(--highlight-cool-color);
}

.selective-underline {
    border-bottom: none;
    text-decoration: none;
}

.selective-underline:hover {
    border-bottom: 2px solid var(--highlight-cool-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    margin-bottom: 1rem;
}

div.highlight pre {
    padding: 1rem;
}

/* ------- basic styling end ------- */

/* ------- site ------- */

.site-header {
    color: var(--dark-color);
    border-bottom: 2px solid var(--neutral-light-color);
}

.site-header a {
    border-bottom: none;
    text-decoration: none;
    color: inherit;
}

.site-header a:hover {
    color: var(--highlight-cool-color);
}

.bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.brand {
    flex: 1;
    padding: 0;
    margin: 0;
}

.links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    color: var(--neutral-dark-color);
}

@media (max-width: 650px) {
    .bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.site-footer {
    color: var(--neutral-dark-color);
    border-top: 2px solid var(--neutral-light-color);
    font-size: 15px;
    margin-top: 3;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    text-align: center;
}

.site-footer a {
    color: inherit;
}

.site-footer a:hover {
    color: var(--highlight-cool-color);
}

/* ------- site end ------- */

/* ------- post ------- */

.thumbnail-container {
    border: 2px solid var(--neutral-light-color);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 1em;
}

.category a, .category a:hover {
    color: var(--highlight-cool-color);
    border-color: var(--highlight-cool-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.category_list_heading {
    color: var(--highlight-cool-color);
    text-transform: uppercase;
}

.title a, .title a:hover {
    color: var(--dark-color);
    border-color: var(--dark-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.description {
    padding: 1rem 0 0 0;
    font-size: 1rem;
    color: var(--dark-color);
}

.tags a, .tags a:hover {
    color: var(--highlight-warm-color);
    border-color: var(--highlight-warm-color);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
}

.tag_list_heading {
    color: var(--highlight-warm-color);
    text-transform: uppercase;
}

.meta {
    font-size: 14.4375px;
    color: var(--neutral-dark-color);
}

.cover-image-container {
    position: relative;
}

.cover-image-text-block {
    position: absolute;
    bottom: 1rem;
    background-color: rgb(22, 21, 21);
    color: var(--light-color);
    padding: 0.5rem 0.5rem;
    text-align: center;
}

/* ------- post end ------- */

/* ------- image ------- */

.center-image {
    width: 1em;
    height: 1em;
}

img {
    max-width: 100%;
}

/* figure {
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    color: var(--gray-color);
    margin: 1em;
    padding: 1em;
} */

figure {
    margin: 1em 1.5em;
    /* display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    text-align: center;
    border-width: 0.0625em;
    border-style: solid;
    border-top-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
    border-bottom-right-radius: 0.3125em;
    border-color: var(--neutral-light-color);
    background-color: var(--light-color);
    ;
}

.no-border {
    border-width: 0px;
}

figure figcaption {
    margin: 0;
    padding: 1rem;
    color: var(--gray-color);
    text-align: center;
    font-size: smaller;
    font-style: normal;
    font-weight: bold;
}

figure img {
    border-color: transparent;
    border-width: 0.0625em;
    padding: 1rem;
    max-width: 100%;
}

figure p {
    margin-bottom: 0;
}

figure h4 {
    margin: 0;
}

/* ------- image end ------- */

/* ------- markdown formatting ------- */

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
    font-family: "Hack";
}

/* ------- markdown formatting end ------- */