<div id="index-section-intro-background">
  <figure class="object-fit-thumb">
    <img src="/images/intro.png" />
  </figure>
  <section id="index-section-intro" class="wrapper fullscreen">
    <div class="inner">
      <header>
        <div class="box alt">
          <div class="row gtr-uniform welcome">
            <div class="col-3">
              <span class="image">
                <img src="/img/profile_circle.png" alt="profile photo" />
              </span>
            </div>
            <div class="col-9">
              <h1>Gati Aher</h1>
              <p>Ph.D. ML @ CMU</p>
              <p>gativaher [AT] gmail.com</p>
              <ul class="contact">
                <ul class="icons">
                  <li>
                    <b><a href="/projects">Blog</a></b>
                  </li>
                  <li>
                    <b><a href="Gati_Aher_CV.pdf">CV</a></b>
                  </li>
                  <li>
                    <a
                      href="https://github.com/GatiAher"
                      class="icon brands fa-github"
                      ><span class="label">GitHub</span></a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/in/gatiaher"
                      class="icon brands fa-linkedin"
                      ><span class="label">LinkedIn</span></a
                    >
                  </li>
                  <li>
                    <a
                      href="https://scholar.google.com/citations?hl=en&user=kgsF7uEAAAAJ"
                      class="icon solid fa-link"
                      ><span class="label">Google Scholar</span></a
                    >
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-12">
              <h4 class="tag-text">
                Coder &#x2022; Researcher &#x2022; Math-Enthusiast &#x2022;
                Artist
              </h4>
              <p>
                <br />
                Hello! I am a Ph.D. student at Carnegie Mellon University in the
                Machine Learning Department. I conduct research on how machine
                learning and generative AI can support personalization in
                education. I am currently advised by
                <a href="https://acmilab.org/">Dr. Zachary Lipton</a>.
                <br />
                <br />

                Previously, I have worked on AI safety and large language models
                projects through internships at Microsoft Research (advised by
                <a href="https://kal.ai/">Dr. Adam Kalai</a>
                &
                <a href="https://www.cc.gatech.edu/people/rosa-arriaga"
                  >Dr. Rosa Arriaga</a
                >), Indico Data (advised by
                <a
                  href="https://www.forbes.com/profile/indico-data/?list=30under30-enterprise-technology&sh=37f5c0e222a1"
                  >Madison May</a
                >), and The MITRE Corporation (advised by
                <a href="https://www.linkedin.com/in/jhndrsn/"
                  >Dr. John Henderson</a
                >).
                <br />
                <br />
                I finished my undergraduate at
                <a href="https://www.olin.edu/">Olin College of Engineering</a>
                majoring in
                <a
                  href="https://olin.smartcatalogiq.com/en/2017-18/Catalog/Programs-of-Study-and-Degree-Requirements/Academic-Programs/Engineering"
                  >Engineering: Computing</a
                >. There, I worked as a computing researcher in Olin's
                Microbiology and Bioinformatics lab advised by
                <a href="https://www.olin.edu/bios/jean-j-huang"
                  >Dr. Jean Huang</a
                >, in Olin's Satellite + Spectrum Technology & Policy group
                advised by
                <a href="https://www.olin.edu/bios/whitney-lohmeyer"
                  >Dr. Whitney Lohmeyer</a
                >, and on a senior capstone research project advised by
                <a href="https://www.fcatalyst.com/overview"
                  >Fidelity Center for Applied Technology</a
                >.
              </p>
            </div>
          </div>
        </div>
      </header>
    </div>
  </section>
</div>
