<section id="index-section-teaching" class="wrapper style2">
  <div class="inner">
    <h2>Teaching, Leadership, and Academic Service</h2>
    <p>
      <b>ENGR3599A-SL Olin College</b> (Instructor Student-Led Course, Spring
      2023): Advanced Algorithms
    </p>
    <p>
      <b>MTH2110 Olin College</b> (Teaching Assistant Head Grader, Fall 2022):
      Discrete Mathematics
    </p>
    <p><b>GirlsWhoCode Olin College</b> (Branch Leader, Fall 2022)</p>
    <p>
      <b>Data Science and ML Lunch-and-Learn Olin College</b> (Organizer &
      Presenter, Fall 2021)
    </p>
    <p><b>ENGR2510 Olin College</b> (Teaching Assistant, Fall 2022)</p>
    <p>
      <b>Einstein's Workshop Coding & STEM Classes</b> (Teaching Assistant, 2017
      - 2019)
    </p>
    <p>
      <b>Shishu Bharati Indian Language K-8</b> (Teaching Assistant, 2015 -
      2019)
    </p>
    <p><b>FIRST Lego League Robotics</b> (Mentor, Fall 2018)</p>
  </div>
</section>
