<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li class="sidebar-priority">
          <a href="#index-section-intro">Welcome</a>
        </li>
        <li class="sidebar-not-priority">
          <a href="#index-section-interests">Research Interests</a>
        </li>
        <li class="sidebar-priority">
          <a href="#index-section-experience">Experience</a>
        </li>
        <li class="sidebar-priority">
          <a href="#index-section-publications">Publications</a>
        </li>
        <li class="sidebar-not-priority">
          <a href="#index-section-projects">Projects</a>
        </li>
        <li class="sidebar-not-priority">
          <a href="#index-section-teaching">Teaching & Service</a>
        </li>
        <li class="sidebar-not-priority">
          <a href="#index-section-art">Art For Fun</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
