<section id="index-section-projects" class="wrapper style1">
  <div class="inner">
    <h2>Projects</h2>
    {{ partial "content-carousel.html" . }}
    <hr />
    <div>
      <h2>Browse Projects By Category</h2>
      <ul class="actions stacked">
        <!-- Categories -->
        {{ range.Site.Taxonomies.categories.ByCount }}
        <li>
          <button
            class="button custom-small-button"
            onclick="location.href='{{ .Page.Permalink }}'"
            type="button"
          >
            {{ .Page.Title }} ({{ .Count }})
          </button>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
