<section id="index-section-interests" class="wrapper style2">
  <div class="inner">
    <h2>Research Interests</h2>
    <div class="features">
      <section>
        <span class="image fit"
          ><img src="images/MSR_Ultimatum_Game.png" alt=""
        /></span>
        <h3>Probabilistic NLP Models</h3>
        <p>
          Large language models trained at scale show emerging intelligent
          behavior, such as coherent and grammatical structures, cultural
          knowledge, and abstract reasoning capabilities.
        </p>
        <ul class="triangle">
          <li>
            <span class="company">@ Microsoft Research</span>, I used GPT-3 and
            Turning-NLP to simulate distributions of responses to psychology
            experiments.
          </li>
        </ul>
      </section>

      <section>
        <span class="image fit"
          ><img src="images/MITRE_ATLAS.png" alt=""
        /></span>
        <h3>Model Robustness</h3>
        <p>
          Adversarial attacks may manipulate the behavior of AI systems to serve
          a malicious end goal.
        </p>
        <ul class="triangle">
          <li>
            <span class="company">@ The MITRE Corporation</span>, I prototyped a
            docker containerized adversarial attack testing platform and
            populated a public information resource.
          </li>
          <li>
            <span class="company">@ MITRE NLP Lab</span>, I supported research
            into practical attacks on machine translation using paraphrase.
          </li>
        </ul>
      </section>

      <section>
        <span class="image fit"
          ><img src="/images/Indico_linked_labels.png" alt=""
        /></span>
        <h3>Cross-Source Information Extraction</h3>
        <p>
          Extracting information from documents requires the ability to link
          events, entities and associated relations across multiple sources.
        </p>
        <ul class="triangle">
          <li>
            <span class="company">@ Indico Data R&D</span>, I worked on deep
            learning NLP and CV approaches to PDF information extraction.
          </li>
          <li>
            <span class="company">@ Olin Satellite Lab</span>, I consolidated
            multiple possibly contradictory data sources when scraping the FCC's
            international filings database.
          </li>
        </ul>
      </section>

      <section>
        <span class="image fit"
          ><img src="images/FCAT_weekly_returns.png" alt=""
        /></span>
        <h3>Event Sequence Modeling</h3>
        <p>
          With language, voice, and time-series data, data items are dependent
          on data before or after it.
        </p>
        <ul class="triangle">
          <li>
            <span class="company">@ Olin Microbiology Lab</span>, I
            characterized time-series data from perturbed and recovering
            microbial communities using methods from compositional data
            analysis.
          </li>
          <li>
            <span class="company">@ Fidelity R&D</span>, I analyzed
            distributions of cryptocurrency technical trading indicators over
            time.
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
