<section id="index-section-publications" class="wrapper style2">
  <div class="inner">
    <h2>Preprints</h2>
    <p>
      <b>Using Large Language Models to Simulate Multiple Humans</b>
      <button
        class="button custom-small-button"
        href="https://arxiv.org/abs/2208.10264"
      >
        PDF
      </button>
      <br />
      <b>G. Aher</b>, R. I. Arriaga, and A. T. Kalai.<br />
      <i
        >In progress of submitting to Proceedings of the National Academy of
        Sciences. ArXiv preprint.</i
      >
    </p>
    <p>
      <b
        >Evaluating the FCC's $10 Billion Gamble: Successfully Accelerating
        Access to Spectrum in Auction 107</b
      >
      <button
        class="button custom-small-button"
        href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4177518"
      >
        PDF
      </button>
      <br />
      P. Boyalakuntla, <b>G. Aher</b>, P. Post, G. Miner, L. Heinrich, Y. Mao,
      J. A. Musey, W. Lohmeyer. <br />
      <i>Submitted to Journal of Information Policy (JIP). SSRN preprint.</i>
    </p>
    <p>
      <b
        >An Analysis and Review of Geostationary Satellite Applications
        Submitted to the Federal Communication Commission (FCC) From 2000 to
        2022</b
      >
      <br />
      P. Post, K. Fleming, K. Canavan, S. Cho, <b>G. Aher</b>, W. Lohmeyer.
      <br />
      <i>Submitted to Telecommunications Policy.</i>
    </p>
    <p>
      <b
        >Effects and Recovery of Carbon Perturbation on Composition of
        Phototrophic Microbial Community Enriched from a Freshwater Pond</b
      >
      <br />
      <b>G. Aher</b>, J. Huang. <br />
      <i>In progress.</i>
    </p>
    <p>
      <b>Demystifying Cryptocurrency Investment Strategies</b> <br />
      <b>G. Aher*</b>, N. Faber*, E. Ito-Fisher*, A. Mascillaro*, L. Stein.
      <br />
      <i>In progress.</i>
    </p>

    <hr />

    <h2>Conference Proceedings</h2>
    <p>
      <b
        >Research Conference on Communications, Information and Internet Policy
        (TPRC) ></b
      >
      (Sep. 2022):
      <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4177518"
        >Auction 107 (C-Band): Policy and Closing Bid Price Analysis</a
      >
    </p>

    <hr />

    <h2>Talks & Slides</h2>
    <p>
      <b>Microsoft Research, ML Ideas Seminar</b> (Sep. 2022): Using Large
      Language Models to Simulate Multiple Humans
    </p>
    <p>
      <b>Technical University of Łódź, PL MathUp Conference</b> (Apr. 2021):
      Principal Component Analysis Case Study: Facial Recognition
    </p>

    <hr />

    <h2>Posters</h2>
    <p>
      <b
        >Northeastern Microbiologists: Physiology, Ecology, and Taxonomy
        (NEMPET)</b
      >
      (Jun. 2021): What Factors Affect Microbial Community Composition?
    </p>
    <p>
      <b>Massachusetts Computer Using Educators (MassCUE)</b> (Sep. 2018):
      SOARing with Drones in Education
    </p>
    <p>
      <b
        >Boston University, Greater Boston Research Opportunities for Women
        (GROW)</b
      >
      (Jul. 2018): Refining Private Set Intersection Under Secure Multi-Party
      Computation
    </p>
    <p>
      <b>International Society of Technology Educators (ISTE)</b> (Jun. 2018):
      Artificial Intelligence, Chatbots, and Amazon Web Services
    </p>
  </div>
</section>
