<section id="index-section-art" class="wrapper style1">
  <div class="inner">
    <h2>Some recent art...</h2>
    <p>
      My hobbies include drawing, dance, long-distance running, and playing four
      instruments :)
    </p>
    <p></p>
    <div class="box alt">
      <div class="row gtr-uniform">
        <div class="col-6">
          <span class="image fit"
            ><img src="/artwork/driveway-in-hawaii/cover.png" alt="art"
          /></span>
        </div>
        <div class="col-6">
          <span class="image fit"
            ><img src="/artwork/beach-in-hawaii/cover.png" alt="art"
          /></span>
        </div>
        <div class="col-6">
          <span class="image fit"
            ><img src="/artwork/abstract-art/cover.png" alt="art"
          /></span>
        </div>
        <div class="col-6">
          <span class="image fit"
            ><img src="/artwork/tea-gardens-of-kerela/cover.jpg" alt="art"
          /></span>
        </div>
      </div>
    </div>
    <a class="button fit" href="/artwork">See Full Gallery</a>
  </div>
</section>
