<section id="index-section-publications" class="wrapper style2">
  <div class="inner">
    <h2>Publications</h2>
    <p>
      <b>
        Using large language models to simulate multiple humans and replicate
        human subject studies</b
      >
      <button
        class="button custom-small-button"
        href=""
        onclick="location.href='https://icml.cc/virtual/2023/oral/25433'"
        type="button"
      >
        PDF
      </button>
      <br />
      <b>G. Aher</b>, R. I. Arriaga, and A. T. Kalai.<br />
      <i>ICML 2023, Oral.</i>
    </p>
    <p>
      <b
        >Evaluating the FCC's $10 Billion Gamble: Successfully Accelerating
        Access to Spectrum in Auction 107</b
      >
      <button
        class="button custom-small-button"
        onclick="location.href='https://scholarlypublishingcollective.org/psup/information-policy/article/doi/10.5325/jinfopoli.13.2023.0003/381377'"
        type="button"
      >
        PDF
      </button>
      <br />
      <b>G. Aher</b>, P. Post, P. Boyalakuntla, G. Miner, L. Heinrich, Y. Mao,
      J. A. Musey, W. Lohmeyer. <br />
      <i>Journal of Information Policy (JIP 2023).</i>
    </p>
    <p>
      <b
        >Analysis of Geostationary Federal Communication Commission Satellite
        Appications from 2000 to 2022</b
      >
      <button
        class="button custom-small-button"
        onclick="location.href='https://arc.aiaa.org/doi/pdf/10.2514/1.A35660'"
        type="button"
      >
        PDF
      </button>
      <br />
      P. Post, K. Fleming, K. Canavan, S. Cho, <b>G. Aher</b>, W. Lohmeyer.
      <br />
      <i>Journal of Spacecraft and Rockets (2023).</i>
    </p>

    <h2>Posters</h2>
    <p>
      <b>What Factors Affect Microbial Community Composition?</b><br /><i>
        Northeastern Microbiologists: Physiology, Ecology, and Taxonomy (NEMPET
        2021)</i
      >
    </p>
    <p>
      <b>SOARing with Drones in Education</b>
      <br />
      <i>Massachusetts Computer Using Educators (MassCUE 2018)</i>
    </p>
    <p>
      <b
        >Refining Private Set Intersection Under Secure Multi-Party
        Computation</b
      >
      <br />
      <i
        >Boston University, Greater Boston Research Opportunities for Women
        (GROW 2018)</i
      >
    </p>
    <p>
      <b>Artificial Intelligence, Chatbots, and Amazon Web Services</b>
      <br />
      <i>International Society of Technology Educators (ISTE 2018)</i>
    </p>
  </div>
</section>
