<section id="index-section-experience" class="wrapper style1">
  <div class="inner">
    <h2>Experience</h2>

    <div class="tab-box">
      <div class="experience-styled-tab-list">
        <div
          id="experience-tab-OBM"
          class="experience-styled-tab-button active"
          onclick="openTab(event, 'experience-panel-OBM')"
          tabindex="1"
          aria-selected="true"
          aria-controls="experience-panel-OBM"
        >
          <span>Olin Microbiology Lab</span>
        </div>

        <div
          id="experience-tab-OSSTP"
          class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-OSSTP')"
          tabindex="2"
          aria-selected="false"
          aria-controls="experience-panel-OSSTP"
        >
          <span>Olin Satellite Lab</span>
        </div>

        <div
          id="experience-tab-FCAT"
          class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-FCAT')"
          tabindex="3"
          aria-selected="false"
          aria-controls="experience-panel-FCAT"
        >
          <span>Fidelity R&D</span>
        </div>

        <div
          id="experience-tab-MSR"
          class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-MSR')"
          tabindex="4"
          aria-selected="false"
          aria-controls="experience-panel-MSR"
        >
          <span>Microsoft Research</span>
        </div>

        <div
          id="experience-tab-IDS"
          class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-IDS')"
          tabindex="5"
          aria-selected="false"
          aria-controls="experience-panel-IDS"
        >
          <span>Indico Data R&D</span>
        </div>

        <div
          id="experience-tab-MITRE2"
          class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-MITRE2')"
          tabindex="6"
          aria-selected="false"
          aria-controls="experience-panel-MITRE2"
        >
          <span>MITRE NLP Lab</span>
        </div>

        <div
          id="experience-tab-CDS"
          class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-CDS')"
          tabindex="7"
          aria-selected="false"
          aria-controls="experience-panel-CDS"
        >
          <span>Cumulus Digital Systems</span>
        </div>

        <div
          id="experience-tab-MITRE1"
          class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-MITRE1')"
          tabindex="8"
          aria-selected="false"
          aria-controls="experience-panel-MITRE1"
        >
          <span>The MITRE Corporation</span>
        </div>

        <div
          id="experience-tab-BU"
          class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-BU')"
          tabindex="9"
          aria-selected="false"
          aria-controls="experience-panel-BU"
        >
          <span>Boston University</span>
        </div>
      </div>
      <div class="experience-styled-tab-panels">
        <div
          id="experience-panel-OBM"
          class="experience-styled-tab-panel"
          style="display: block"
          tabindex="10"
          aria-labelledby="experience-tab-OBM"
          aria-hidden="false"
        >
          <h3>
            <span>Undergraduate Researcher</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://www.olin.edu/bios/jean-j-huang"
                rel="noopener noreferrer"
                target="_blank"
                >Olin Bioinformatics & Microbiology Lab</a
              ></span
            >
          </h3>
          <p>January 2021 - January 2023, part-time</p>
          <p><i>Advised by Professor Jean Huang</i></p>
          <div>
            <ul class="triangle">
              <li>
                Led research on analyzing composition shifts in time-series of
                cultured, perturbed microbiomes.
              </li>
              <li>
                Conducted literature review to find, apply, and analyze
                limitations of Random Matrix Theory approach, Compositional Data
                Analysis, and network analysis.
              </li>
              <li>
                Presented poster at Northeastern Microbiologists: Physiology,
                Ecology, and Taxonomy (NEMPET).
              </li>
              <li>
                Led project on cleaning and interpreting 2D Fourier analysis to
                isolate patterns in bacterial surface images to identify pattern
                and shape of surface proteins.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">R</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      time-series
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      microbiology
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div
          id="experience-panel-OSSTP"
          class="experience-styled-tab-panel"
          style="display: none"
          tabindex="1"
          aria-labelledby="experience-tab-OSSTP"
          aria-hidden="false"
        >
          <h3>
            <span>Undergraduate Researcher</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://www.osstp.org/"
                rel="noopener noreferrer"
                target="_blank"
                >Olin Satellite + Spectrum Technology & Policy Group</a
              ></span
            >
          </h3>
          <p>September 2021 - Present, part-time</p>
          <p><i>Advised by Professor Whitney Lohmeyer</i></p>
          <div>
            <ul class="triangle">
              <li>
                Worked on undergraduate and industry research team to identify
                factors driving value in 5G spectrum auctions.
              </li>
              <li>
                Applied statistical analysis tests (ANOVA), and analyzed auction
                context and mechanics
              </li>
              <li>
                Presented session at Research Conference on Communication,
                Information, and Internet Policy (TPRC).
              </li>
              <li>
                Led project to automate web-scraping, PDF-text extraction, and
                data cleaning of satellite filings from the FCC's International
                Bureau Filing System, creating data sets to support two new
                analysis projects and generate yearly review of satellite
                filings.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">R</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      statistics
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      web-scraping
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div
          id="experience-panel-FCAT"
          class="experience-styled-tab-panel"
          style="display: none"
          tabindex="1"
          aria-labelledby="experience-tab-FCAT"
          aria-hidden="false"
        >
          <h3>
            <span>Senior Engineering Capstone</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://www.fcatalyst.com/overview"
                rel="noopener noreferrer"
                target="_blank"
                >Fidelity Center for Applied Technology</a
              ></span
            >
          </h3>
          <p>September 2022 - Present, part-time</p>
          <div>
            <ul class="triangle">
              <li>
                Worked on undergraduate and industry research team to build a
                robust cryptocurrency algorithmic trading analysis and
                backtesting library.
              </li>
              <li>
                Led research into technical trading strategies, indicators, and
                evaluation methods.
              </li>
              <li>
                Designed visualizations to compare distributions of strategy
                performance.
              </li>
              <li>Supported 100% test coverage of backtesting library.</li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      time-series
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      statistics
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">finance</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div
          id="experience-panel-MSR"
          class="experience-styled-tab-panel"
          style="display: none"
          tabindex="1"
          aria-labelledby="experience-tab-MSR"
          aria-hidden="false"
        >
          <h3>
            <span>Undergrad Research Intern</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://www.microsoft.com/en-us/research/people/adum/"
                rel="noopener noreferrer"
                target="_blank"
                >Microsoft Research</a
              ></span
            >
          </h3>
          <p>May - August 2022</p>
          <p>
            <i
              >Advised by Dr. Adam Kalai (Microsoft Research) and Professor Rosa
              I. Arriaga (Georgia Institute of Technology)</i
            >
          </p>
          <div>
            <ul class="triangle">
              <li>
                Led research on using large language models (GPT-3, Turing-NLG)
                to simulate demographically-aligned distributions of human
                behavior on behavioral economics, psycholinguistics, and social
                psychology experiments, resulting in paper (preprint on arXiv).
              </li>
              <li>
                Designed zero-shot prompt methodology, compared predicted
                distributions to literature on Ultimatum Game, Garden Path
                sentence comprehension, and Milgram Shock Experiment.
              </li>
              <li>
                Designed and ran novel alternatively worded prompts to mitigate
                risk of models regurgitating training data.
              </li>
              <li>
                Working with cognitive psychology and behavioral language model
                researchers Professor Rosa I. Arriaga (Georgia Institute of
                Technology) and Professor Micheal Kearns (University of
                Pennsylvania) to evaluate limitations of method before
                submitting to top-tier journal
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      large language models
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      prompt-engineering
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      psychology & economics theory
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div
          id="experience-panel-IDS"
          class="experience-styled-tab-panel"
          style="display: none"
          tabindex="2"
          aria-labelledby="experience-tab-IDS"
          aria-hidden="false"
        >
          <h3>
            <span>SWE Intern</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://indicodata.ai/indico-5"
                rel="noopener noreferrer"
                target="_blank"
                >Indico Data Solutions</a
              ></span
            >
          </h3>
          <p>May - August 2021</p>
          <p>
            <i
              >Full-stack software engineering intern advised by Madison May
              (Co-founder and Machine Learning Architect)</i
            >
          </p>
          <div>
            <ul class="triangle">
              <li>Improved deep-learning document extraction capabilities.</li>
              <li>
                As fullstack software engineer supporting team with four UXD and
                product interns, protoyped and user-tested high-fidelity novel
                React.js GUI for predicting and correcting groups of text
                extractions.
              </li>
              <li>
                In independent research project with R&D team, adapted object
                detection Faster R-CNN model to classify handwriting on business
                documents and incorporated methods for alternate pre-training,
                multi-label tasks, and small object detection.
              </li>
              <li>
                Both features were highlighted as two of the top five features
                of Indico's fifth major release.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      deep learning
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      large language models
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      computer vision
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div
          id="experience-panel-MITRE2"
          class="experience-styled-tab-panel"
          style="display: none"
          tabindex="3"
          aria-labelledby="experience-tab-MITRE2"
          aria-hidden="false"
        >
          <h3>
            <span>SWE Intern</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://aclanthology.org/2022.amta-research.17/"
                rel="noopener noreferrer"
                target="_blank"
                >The MITRE Corporation</a
              ></span
            >
          </h3>
          <p>September - December 2020</p>
          <p>
            <i class="role">
              Software engineering intern working on Practical Attacks on
              Machine Translation using Paraphrase, advised by Dr. John
              Henderson (Principal Investigator)</i
            >
          </p>

          <div>
            <ul class="triangle">
              <li>
                Researched new methods to exploit vulnerabilities in natural
                language machine learning systems.
              </li>
              <li>
                Revived and adapted an academic lab's research code for
                generating a paraphrase database using the bilingual pivoting
                technique, debugged it in a new environment, incorporated newer
                software packages, ran timing experiments to determine hardware
                needs and Hadoop configuration for running resource-intensive
                computation with 4x more data, modified code to run faster for
                our specific use-case.
              </li>
              <li>
                Augmented dataset with 900 million segments of parallel text,
                performed word-alignment, and implemented methods for scrubbing
                poorly aligned segments.
              </li>
              <li>
                Used Logistic Regression for classification on an imbalanced
                dataset, and improved performance with feature engineering
                ablation studies.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Bash</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      machine learning
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      adversarial attacks
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div
          id="experience-panel-CDS"
          class="experience-styled-tab-panel"
          style="display: none"
          tabindex="4"
          aria-labelledby="experience-tab-CDS"
          aria-hidden="false"
        >
          <h3>
            <span>SWE Intern</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://www.cumulusds.com/"
                rel="noopener noreferrer"
                target="_blank"
                >Cumulus Digital Systems</a
              ></span
            >
          </h3>
          <p>May - August 2020</p>
          <p><i>Software engineering intern on the backend team</i></p>
          <div>
            <ul class="triangle">
              <li>
                Developed externally facing REST API to let Cumulus's clients
                interface with Cumulus's system directly.
              </li>
              <li>
                Created a Amazon Web Services SNS, Lambda, and DynamoDB webhooks
                system to handle real-time events.
              </li>
              <li>
                Implemented secure API endpoints using Serverless microservice,
                REST API, Swagger, and AWS CloudFront.
              </li>
              <li>
                Implemented request and response validation, automated
                documentation, and API documentation page.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">AWS</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">REST API</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Node.js</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div
          id="experience-panel-MITRE1"
          class="experience-styled-tab-panel"
          style="display: none"
          tabindex="5"
          aria-labelledby="experience-tab-MITRE1"
          aria-hidden="false"
        >
          <h3>
            <span>SWE Intern</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://www.militaryaerospace.com/computers/article/16726725/iarpa-seeks-to-apply-trusted-computing-to-artificial-intelligence-and-machine-learning-models"
                rel="noopener noreferrer"
                target="_blank"
                >The MITRE Corporation</a
              ></span
            >
          </h3>
          <p>June - August 2019</p>
          <p>
            <i
              >Software engineering intern on the Secure Assured Intelligent
              Learning Systems (SAILS) federally funded research project</i
            >
          </p>
          <div>
            <ul class="triangle">
              <li>
                Worked on initial proof-of-concept platform to systematically
                benchmark machine learning models security vulnerabilities
                against adversarial attacks.
              </li>
              <li>
                Built gPRC interface for communication between docker
                containerized attacks and models.
              </li>
              <li>
                Improved speed of sending batches of images from 17 minutes to
                17 seconds.
              </li>
              <li>
                Conducted literature review and consolidated information on
                adversarial attacks and defenses to populate a public education
                resource.
              </li>
              <li>
                Prototype work secured future funding: project now popularly
                known as Adversarial Threat Landscape for
                Artificial-Intelligence Systems (MITRE ATLAS).
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">AWS</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">gRPC API</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      adversarial attacks
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      computer vision
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div
          id="experience-panel-BU"
          class="experience-styled-tab-panel"
          style="display: none"
          tabindex="6"
          aria-labelledby="experience-tab-BU"
          aria-hidden="false"
        >
          <h3>
            <span>SWE Intern</span
            ><span class="company">
              @
              <a
                class="inline-link"
                href="https://multiparty.org/"
                rel="noopener noreferrer"
                target="_blank"
                >Boston University</a
              ></span
            >
          </h3>
          <p>July - August 2018</p>
          <p>
            <i
              >High school researcher in the Software & Application Innovation
              Lab, advised by Lucy Qin (PhD candidate), Kinan Dak Albab (PhD
              candidate), and Dr. Andrei Lapets (Principal Investigator)</i
            >
          </p>
          <div>
            <ul class="triangle">
              <li>
                Evaluated secure multi-party computation JavaScript library
                (JIFF) on sorting and set-intersection algorithms.
              </li>
              <li>
                Wrote demos with different algorithm implementation for data
                oblivious sorting algorithms and set-intersection tasks,
                calculated throughput and latency, and implemented benchmark
                tests.
              </li>
              <li>
                Contributed to the development of new functionalities that
                performed 92-95% faster than the existing JIFF functions on
                common use-cases.
              </li>
              <li>
                Presented poster at the Greater Boston Research Opportunities
                for Women (GROW) research conference.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">security</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      secure multi-party computation
                    </button>
                  </li>
                  <li>
                    <button class="button custom-small-button">sorting</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">
                      set-intersection
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
