<div id="index-section-intro-background">
  <figure class="object-fit-thumb">
    <img src="/images/intro.png" />
  </figure>
  <section id="index-section-intro" class="wrapper fullscreen">
    <div class="inner">
      <header>
        <div class="box alt">
          <div class="row gtr-uniform welcome">
            <div class="col-3">
              <span class="image">
                <img
                  class="profile"
                  src="/img/profile_circle.png"
                  alt="profile photo"
                />
              </span>
            </div>
            <div class="col-9">
              <h1>Gati Aher</h1>
              <p>ML + HCI Ph.D. @ CMU</p>
              <p>gativaher [AT] gmail.com</p>
              <ul class="contact">
                <ul class="icons">
                  <li>
                    <b><a href="/projects">Blog</a></b>
                  </li>
                  <li>
                    <b><a href="Gati_Aher_CV.pdf">CV</a></b>
                  </li>
                  <li>
                    <a
                      href="https://github.com/GatiAher"
                      class="icon brands fa-github"
                      ><span class="label">GitHub</span></a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/in/gatiaher"
                      class="icon brands fa-linkedin"
                      ><span class="label">LinkedIn</span></a
                    >
                  </li>
                  <li>
                    <a
                      href="https://scholar.google.com/citations?user=kgsF7uEAAAAJ"
                      target="_blank"
                      rel="noopener"
                      aria-label="Google Scholar"
                    >
                      <img
                        src="icon/google-scholar.svg"
                        alt="GS"
                        width="20"
                        height="20"
                        class="social-icon"
                      />
                    </a>
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-12">
              <h4 class="tag-text">
                Coder &#x2022; Researcher &#x2022; Math-Enthusiast &#x2022;
                Artist
              </h4>
              <p>
                <br />
                Hello! I am a Ph.D. student in the Machine Learning Department
                at Carnegie Mellon University. I research how machine learning
                and generative AI can support idea generation and intrinsic
                motivation for engaging with wicked, future-facing problems in
                project-based learning, design, and entrepreneurship. I am
                advised by
                <a href="https://nikmartelaro.com/">Dr. Nikolas Martelaro</a>
                (Human Computer Interaction) and
                <a href="https://www.cs.cmu.edu/~tom/">Dr. Tom Mitchell</a>
                (Machine Learning Department).
                <br />
                <br />

                While at Carnegie Mellon University, I won the
                <a href="https://tools-competition.org/"
                  >Tools Competition 2024</a
                >
                Award Catalyst Award ($50k) for my proposal
                <a href="https://youtu.be/U5CE4aPbH7Y?si=A2fqbPelJAAO_A2Z"
                  >"Artificial Mentors for Student-Driven Projects"</a
                >, and have since been researching how people select, elaborate,
                and iterate on their project proposals. In SP2025-FA2025 I
                worked with
                <a href="https://learningenvironmentslab.org/peter-scupelli/"
                  >Dr. Peter Scupelli</a
                >'s design courses to understand barriers for high quality
                reflection and task engagement in future-facing sustainable and
                societal design.
                <br />
                <br />

                Previously, I have worked on AI safety and large language models
                projects through internships at Microsoft Research (advised by
                <a href="https://kal.ai/">Dr. Adam Kalai</a>
                &
                <a href="https://www.cc.gatech.edu/people/rosa-arriaga"
                  >Dr. Rosa Arriaga</a
                >), Indico Data (advised by
                <a
                  href="https://www.forbes.com/profile/indico-data/?list=30under30-enterprise-technology&sh=37f5c0e222a1"
                  >Madison May</a
                >), and The MITRE Corporation (advised by
                <a href="https://www.linkedin.com/in/jhndrsn/"
                  >Dr. John Henderson</a
                >).
                <br />
                <br />
                I finished my undergraduate at
                <a href="https://www.olin.edu/">Olin College of Engineering</a>
                majoring in
                <a
                  href="https://olin.smartcatalogiq.com/en/2017-18/Catalog/Programs-of-Study-and-Degree-Requirements/Academic-Programs/Engineering"
                  >Engineering: Computing</a
                >. There, I worked as a computing researcher in Olin's
                Microbiology and Bioinformatics lab advised by
                <a href="https://www.olin.edu/bios/jean-j-huang"
                  >Dr. Jean Huang</a
                >, in Olin's Satellite + Spectrum Technology & Policy group
                advised by
                <a href="https://www.olin.edu/bios/whitney-lohmeyer"
                  >Dr. Whitney Lohmeyer</a
                >, and on a senior capstone research project advised by
                <a href="https://www.fcatalyst.com/overview"
                  >Fidelity Center for Applied Technology</a
                >.
              </p>
            </div>
          </div>
        </div>
      </header>
    </div>
  </section>
</div>
