<section id="index-section-intro" class="wrapper style1 fullscreen">
  <div class="inner">
    <header>
      <div class="box alt">
        <div class="row gtr-uniform">
          <div class="col-3">
            <span class="image">
              <img src="/img/profile_circle.jpeg" alt="profile photo" />
            </span>
          </div>
          <div class="col-9">
            <h1>Gati Aher</h1>
            <p>Undergraduate CS @ Olin College</p>
            <p>gativaher [AT] gmail.com</p>
            <ul class="contact">
              <ul class="icons">
                <li>
                  <a
                    href="https://github.com/GatiAher"
                    class="icon brands fa-github"
                    ><span class="label">GitHub</span></a
                  >
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/gatiaher"
                    class="icon brands fa-linkedin"
                    ><span class="label">LinkedIn</span></a
                  >
                </li>
                <li>
                  <b><a href="Gati_Aher_CV.pdf">CV</a></b>
                </li>
                <li>
                  <b><a href="/projects">Blog</a></b>
                </li>
              </ul>
            </ul>
          </div>
          <div class="col-12 welcome">
            <h4 style="text-transform: uppercase">
              Coder &#x2022; Researcher &#x2022; Math-Enthusiast &#x2022; Artist
            </h4>
            <p>
              I am currently a fourth year undergradute majoring in
              <a
                href="https://olin.smartcatalogiq.com/en/2017-18/Catalog/Programs-of-Study-and-Degree-Requirements/Academic-Programs/Engineering"
                >Engineering: Computing</a
              >
              at
              <a href="https://www.olin.edu/">Olin College of Engineering</a>.
              Currrently, I am working as computing researcher in Olin's
              Microbiology and Bioinformatics lab advised by
              <a href="https://www.olin.edu/bios/jean-j-huang">Dr. Jean Huang</a
              >, in Olin's Satellite + Spectrum Technology & Policy group
              advised by
              <a href="https://www.olin.edu/bios/whitney-lohmeyer"
                >Dr. Whitney Lohmeyer</a
              >, and on a senior capstone research project advised by
              <a href="https://www.fcatalyst.com/overview"
                >Fidelity Center for Applied Technology</a
              >. <br />
              <br />
              Previously, I have worked on AI safety and large language models
              projects through internships at Microsoft Research (advised by
              <a href="https://www.microsoft.com/en-us/research/people/adum/"
                >Dr. Adam Kalai</a
              >
              &
              <a href="https://www.cc.gatech.edu/people/rosa-arriaga"
                >Dr. Rosa Arriaga</a
              >), Indico Data (advised by
              <a
                href="https://www.forbes.com/profile/indico-data/?list=30under30-enterprise-technology&sh=37f5c0e222a1"
                >Madison May</a
              >), and The MITRE Corporation (advised by
              <a href="https://aclanthology.org/people/j/john-henderson/"
                >Dr. John Henderson</a
              >).
            </p>
          </div>
        </div>
      </div>
    </header>
  </div>
</section>
