<section id="banner">
    <div class="content">
        <header>
            <h1>Hi, I’m Gati</h1>
            <p>Coder, Researcher, Math-Enthusiast, Artist</p>
        </header>
        <p>
            I am studying <a href="https://olin.smartcatalogiq.com/en/2017-18/Catalog/Programs-of-Study-and-Degree-Requirements/Academic-Programs/Engineering">Engineering with a Concentration in Computing</a> at <a href="https://www.olin.edu/">Olin College of Engineering</a>, class of 2023. I have a passion for creating software, automation, and visualization tools to help people analyze data and make decisions efficiently and effectively. I have worked in many different areas of software including full-stack application development, AI privacy research, and interdisciplinary data analysis. Currently, I am working as an undergraduate researcher for the Olin Microbiology and Bioinformatics (OMB) Lab and the Olin Satellite + Spectrum Technology & Policy (OSSTP) Group.
        </p>
        <p>
            This blog documents my software projects, data analysis adventures, and reflections.
        </p>
        <ul class="actions">
            <li><a href="/Gati_Aher_CV.pdf" class="button big">View My CV</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="/img/profile.jpeg" alt="" />
    </span>
</section>