<section>
  <header class="major">
    <h2>Where I've Worked</h2>
  </header>

  <div class="tab-wrapper">
    <!-- vertical tabs -->
    <div class="tab">
      <a class="tablinks active" onclick="openVerticalTab(event, 'OSSTP')"
        >Olin OSSTP Lab</a
      >
      <a class="tablinks" onclick="openVerticalTab(event, 'Indico')"
        >Indico R&D Lab</a
      >
      <a class="tablinks" onclick="openVerticalTab(event, 'OBM')"
        >Olin OBM Lab</a
      >
      <a class="tablinks" onclick="openVerticalTab(event, 'MITRENLP')"
        >MITRE NLP Lab</a
      >
      <a class="tablinks" onclick="openVerticalTab(event, 'Cumulus')"
        >Cumulus</a
      >
      <a class="tablinks" onclick="openVerticalTab(event, 'MITRESAILS')"
        >MITRE</a
      >
      <a class="tablinks" onclick="openVerticalTab(event, 'BUMPC')"
        >BU SAIL Lab</a
      >
    </div>

    <!-- panels -->
    <div id="OSSTP" class="tabcontent" style="display: block">
      <h3>
        <a href="https://www.osstp.org/" class="primary icon solid fa-link"
          >Olin Satellite + Spectrum Technology & Policy Group</a
        >
      </h3>
      <i>Research in the laboratory of Whitney Lohmeyer, Ph.D.</i>
      <p>September 2021 — Present</p>
      <ul>
        <li>
          The United States uses spectrum auctions to sell the rights to
          transmit signals over specific bands of the electromagnetic spectrum.
          The management of spectrum policy grows more important as the demand
          for 5G technology increases.
        </li>
        <li>
          Causal statistics analysis on spectrum auction features. Currently
          working on a paper and accessible documentation covering Auction 107.
        </li>
        <li>
          Data mining satellite licenses to untangle the complex motivations and
          effects of policy impacts on the government, incumbent satellite
          operators, mobile companies, and US citizens.
        </li>
      </ul>
    </div>

    <div id="Indico" class="tabcontent" style="display: none">
      <h3>
        <a
          href="https://indicodata.ai/indico-5/"
          class="primary icon solid fa-link"
          >Indico Data Solutions</a
        >
      </h3>
      <i>Internship with R&D Division, Mentored by Madison May</i>
      <p>May 2021 — August 2021</p>
      <ul>
        <li>
          Adapted Faster R-CNN computer vision deep learning models to
          accurately handle handwriting and stamps on business documents.
          Improved upon baseline performance with different pre-training tasks,
          multi-label formulation, strategies to improve small object detection,
          and different label sets and datasets.
        </li>
        <li>
          Supported research on designing flexible, intuitive interfaces to draw
          and correct extraction text grouping. Rapidly prototyped a
          high-fidelity interactive React.js application for user-testing
          interviews.
        </li>
      </ul>
    </div>

    <div id="OBM" class="tabcontent" style="display: none">
      <h3>Olin Bioinformatics & Microbiology Lab</h3>
      <i>Research in the laboratory of Jean Huang, Ph.D.</i>
      <p>January 2021 — Present</p>
      <ul>
        <li>
          Identifying real and consistent trends across microbiome samples and
          removing spurious effects due to compositional and hierarchical
          properties
        </li>
        <li>
          Implemented and interpreted several computational methods on a series
          of perturbation and recovery experiments. Developed analysis pipelines
          across QIIME, Python, R, and Bash
        </li>
        <li>
          Using Deng et al. (2017) Random Matrix Theory-based network analysis,
          Aitchinson (2002) Compositional Data Analysis, and statistical and
          visualization packages for exploring hierarchical data
        </li>
      </ul>
    </div>

    <div id="MITRENLP" class="tabcontent" style="display: none">
      <h3>
        <a
          href="https://aclanthology.org/2021.findings-acl.342.pdf"
          class="primary icon solid fa-link"
          >The MITRE Corporation: Project Text-Jamming</a
        >
      </h3>
      <i>Research in the laboratory of John Henderson, Ph.D.</i>
      <p>September 2020 — January 2021</p>
      <ul>
        <li>
          Supported research into new methods of exploiting vulnerabilities in
          machine learning-based natural language processing systems such as
          information retrieval, machine translation, and unknown author
          characterization
        </li>
        <li>
          Generated a large, modern paraphrase database. Adapted and debugged
          another academic lab's bilingual pivoting research code, incorporated
          newer software packages, and ran timing experiments to determine
          hardware needs and configuration for running the resource-intensive
          computation
        </li>
      </ul>
    </div>

    <div id="Cumulus" class="tabcontent" style="display: none">
      <h3>
        <a href="https://www.cumulusds.com/" class="primary icon solid fa-link"
          >Cumulus Digital Systems</a
        >
      </h3>
      <i>Software Engineering Intern</i>
      <p>May 2020 — August 2020</p>
      <ul>
        <li>
          Developed externally facing REST API to let Cumulus's clients
          interface with Cumulus's system directly
        </li>
        <li>
          Creating a Webhooks system to handle real-time events. Used DynamoDB
          to store callback urls, and AWS Lambda to receive and react to event
          messages from AWS SNS. Implemented secure API endpoints using a
          combination of Serverless Framework, AWS Lambda, AWS CloudFront, and
          NodeJS
        </li>
        <li>
          Designed and implemented processes to improve REST API maintainability
          and usability, including request and response validation, automated
          documentation, and Swagger UI
        </li>
      </ul>
    </div>

    <div id="MITRESAILS" class="tabcontent" style="display: none">
      <h3>
        <a
          href="https://www.militaryaerospace.com/computers/article/16726725/iarpa-seeks-to-apply-trusted-computing-to-artificial-intelligence-and-machine-learning-models"
          class="primary icon solid fa-link"
          >The MITRE Corporation: Project Secured Assured Intelligent Learning
          Systems</a
        >
      </h3>
      <i>Software Engineering & DevOps Intern</i>
      <p>January 2019 — August 2019</p>
      <ul>
        <li>
          Worked on initial prototype for SAILS, a service to systematically
          evaluate the security vulnerabilities of machine learning models on a
          customizable barrage of adversarial attacks.
        </li>
        <li>
          Defined a generalized gRPC interface and pipeline for evaluating
          Docker containerized attacks and defenses in benchmark comparison
          tests. Improved speed of sending batches of images from 17 minutes to
          17 seconds.
        </li>
        <li>
          Consolidated information about adversarial attacks and defenses to
          populate a public interest resource.
        </li>
      </ul>
    </div>

    <div id="BUMPC" class="tabcontent" style="display: none">
      <h3>
        <a href="https://multiparty.org/" class="primary icon solid fa-link"
          >Boston University: Software Applications & Innovations Lab</a
        >
      </h3>
      <i>Research in the laboratory of Andrei Lapets, Ph.D.</i>
      <p>July 2018 — August 2018</p>
      <ul>
        <li>
          Worked on JIFF, open-source JavaScript framework for developing secure
          multi-party computation applications for analyzing sensitive data to
          address pervasive social inequalities, like the wage gap
        </li>
        <li>
          Evaluated JIFF's performance on sorting and set-intersection tasks.
          Implemented benchmark tests, data oblivious sorting algorithm, and
          semi-honest browser-based BattleShips application
        </li>
        <li>
          Contributed to the development of new functionalities that performed
          92-95% faster than the existing JIFF functions on common use-cases
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <section>
  <header class="major">
      <h2>Where I've Worked</h2>
    </header>
    <div class="features">
      <article>
        <span class="icon fa-gem"></span>
        <div class="content">
          <h3>Portitor ullamcorper</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-paper-plane"></span>
        <div class="content">
          <h3>Sapien veroeros</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-rocket"></span>
        <div class="content">
          <h3>Quam lorem ipsum</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-signal"></span>
        <div class="content">
          <h3>Sed magna finibus</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
    </div>
</section> -->
