<div class="center">
  <ul class="actions">
    {{ $href := default "/" (.Get "href") }} {{ $text := default "Click Here"
    (.Get "text") }} {{ if (.Get "icon") }} {{ $icon := (.Get "icon") }}
    <li>
      <button
        class="button icon outline {{$icon}}"
        onclick="location.href='{{$href}}'"
        type="button"
      >
        {{ $text }}
      </button>
    </li>
    {{ else }}
    <li>
      <button
        class="button outline"
        onclick="location.href='{{$href}}'"
        type="button"
      >
        {{ $text }}
      </button>
    </li>
    {{ end }}
  </ul>
</div>
